# -----------------------------------------------------------------------------
# App
# -----------------------------------------------------------------------------
# NEXT_PUBLIC_APP_URL=http://localhost:3000
# -----------------------------------------------------------------------------
# Authentication (NextAuth.js)
# -----------------------------------------------------------------------------
AUTH_SECRET=fpnFWQ9/3FYXBezzCVk+YwQEXrmghdMgwF0FlpZcV3g=

GITHUB_CLIENT_ID=Ov23liO1Nzvxlysfz4k9
GITHUB_CLIENT_SECRET=e2a3a559759f9fab052d5583b82d2cd35edb3c50

GOOGLE_CLIENT_ID=738018623516-t1cv0u8qts6f8aiuqvjla6g2mfkqumda.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
# -----------------------------------------------------------------------------
# Database (PostgreSQL - Supabase)
# -----------------------------------------------------------------------------
DATABASE_URL="postgres://postgres.qishlfpvjdaekemyjrwr:itsvinsrento123@aws-0-eu-central-1.pooler.supabase.com:6543/postgres?pgbouncer=true"

# Direct connection to the database. Used for migrations.
DIRECT_URL="postgres://postgres.qishlfpvjdaekemyjrwr:itsvinsrento123@aws-0-eu-central-1.pooler.supabase.com:5432/postgres" 


# -----------------------------------------------------------------------------
# Email (Resend)
# -----------------------------------------------------------------------------
RESEND_API_KEY=re_Q76Yq4HL_NpvZu6XCpN5tBGCNSqtk2kAe
# -----------------------------------------------------------------------------
# Subscriptions (Stripe)
# -----------------------------------------------------------------------------
# STRIPE_API_KEY=
# STRIPE_WEBHOOK_SECRET=
# STRIPE_PRO_MONTHLY_PLAN_ID=