  .divItem div[data-slot="input-wrapper"] {
	border-bottom: 1px solid #000;
  }  
  .divItem div[data-slot="input-wrapper"]:hover {
	border-bottom: 1px solid #000;
  }


  .after\:bg-default-foreground::after {
	background-color: rgba(68, 0, 255, 0.647);
  }